<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <File>events.log</File>
    <encoder>
      <Pattern>%d %p %t %c - %m%n</Pattern>
    </encoder>
  </appender>
  <logger name="com.github.SakuraMatrix.P2-ProjectBalashov.domain.App" />
  <logger name="log" />
  <root level="debug">
    <appender-ref ref="FILE" />
  </root>
  <logger name="com.github.SakuraMatrix.P2-ProjectBalashov" level="trace" additivity="false">
    <appender-ref ref="RfAppender" />
    <appender-ref ref="Console" />
  </logger>
</configuration>