<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Item Quantity</title>
</head>
<body>
  <div th:fragment="quantity_control(qtyValue, itemId)">
    <nav>
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link minusButton" href="" th:pid="${itemId}"><b> - </b></a>
        </li>
        <li class="page-item">
          <input type="text" th:value="${qtyValue}" class="form-control text-center" onkeydown="return false;" style="max-width: 55px" th:id="'quantity' + ${itemId}" />
        </li>
        <li class="page-item">
          <a class="page-link plusButton" href="" th:pid="${itemId}"><b> + </b></a>
        </li>
      </ul>
    </nav>

  </div>
  <script th:src="@{/js/quantity.js}"></script>
</body>
</html>